
.author-highlight {
  font-weight: 400; /* Semi-bold, similar to title */
  text-decoration: none;
  border-bottom: 0.3px solid currentColor; /* Ultra thin */
  padding-bottom: 1px;
}

.profile-social .contact-icons.small-icons a {
  font-size: 0.5rem; /* Makes icons even smaller */
  margin: 0 6px;
}